
  /* RESET */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Root */
#root {
  min-height: 100%;
}

/* Layout wrapper */
.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content area */
.app-main {
  flex: 1;
  padding-top: 64px; /* equal to navbar h-16 */
}
